.country {
  font-size: 40px;
  padding: 5.75em 0 2.5em 0;

  &__content {
    width: 48.65%;

    padding: 1.17em 0.75em;

    background-color: $rgb_brown-c;
    color: #fff;
  }

  &__name,
  &__title {
    font-size: 0.5em;
    line-height: 1.3;
  }

  &__name {
    margin-bottom: 1.25em;
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: -0.7px;
    margin-bottom: 0.9em;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.63;
    letter-spacing: -0.6px;
  }

  &__btn {
    margin: 2.65em 0 0.75em 0;
    padding: 1.9rem 7rem;
  }

  &:nth-child(3) {
    background-image: url("../../img/spain1.webp");
  }

  &:nth-child(4) {
    background-image: url("../../img/spain2.webp");

    .country__wrapper {
      justify-content: flex-end;
    }
  }
}
